#timeline-embed {
  min-height: 900px;
}

div.wis-desc {
  display: flex;
}

img.wis-birth-img {
  border-radius: 5px;
  margin-right: 2%;
  width: 98%;
}

.wis-text {
  display: flex;
  flex-direction: column;
}

.wis-blurb {
  height: fit-content;
  width: 100%;
}

ul.wis-trads {
  list-style-type: none;
  height: fit-content;
  padding: 0px !important;
  margin-top: 1em !important;
}
